In [15]:
import pandas as pd

data = pd.read_csv("../Original Data/tb.csv")
data.describe()

#pd.set_option('display.max_rows', data.shape[0]+1)
#print(data)

,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,new_sp_m5564,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
count,5769.000000,3081.000000,392.000000,401.000000,2381.000000,2407.000000,2408.000000,2415.000000,2421.000000,2414.000000,...,393.000000,404.000000,2378.000000,2394.000000,2400.000000,2398.000000,2401.000000,2394.000000,2396.000000,272.000000
mean,1994.229329,9089.718922,8.806122,28.975062,79.438051,922.364769,1301.894518,1205.566046,983.515489,696.171914,...,6.417303,39.185644,106.341043,758.737260,856.087500,586.597998,400.376510,276.178363,255.307596,2.540441
std,8.423265,38612.097933,46.094789,127.881505,280.489536,4278.638975,5253.398971,5409.064589,4780.782748,3771.934518,...,39.630100,170.491532,435.889885,3153.018686,3295.220001,2293.956123,1589.955543,1191.728829,1138.763846,38.261653
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1987.000000,97.000000,0.000000,0.000000,0.000000,10.000000,15.000000,16.000000,13.000000,9.000000,...,0.000000,0.000000,1.000000,8.000000,10.000000,7.000000,5.000000,4.000000,5.000000,0.000000
50%,1994.000000,1017.000000,0.000000,1.000000,6.000000,92.000000,151.500000,134.000000,98.000000,62.000000,...,0.000000,2.000000,7.000000,68.000000,86.000000,59.000000,38.000000,25.000000,29.000000,0.000000
75%,2002.000000,4985.000000,2.000000,8.000000,36.000000,511.500000,728.000000,591.500000,434.000000,273.750000,...,1.000000,13.250000,50.000000,427.000000,477.500000,309.000000,216.000000,144.750000,124.000000,0.000000
max,2008.000000,615977.000000,655.000000,1519.000000,4648.000000,77121.000000,83850.000000,90498.000000,78815.000000,57492.000000,...,620.000000,2062.000000,8319.000000,51485.000000,49887.000000,33664.000000,21486.000000,18203.000000,21339.000000,631.000000